body {
  font-family: Roboto, arial, sans-serif;
}

h1 {
  margin: 20px;
  font-size: 48px;
}

.current-temp {
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
  font-weight: bold;
}

.container {
  max-width: 600px;
  background-color: rgb(224, 235, 229);
  height: 430px;
  border-radius: 6px;
  margin: 40px;
}

.weather-app {
  margin: 50px auto;
  max-width: 500px;
  /*background-color: yellow; */
}

.forecast-day {
  font-size: 16px;
}

.forecast-degrees {
  font-size: 14px;
}

.degree-unit {
  font-size: 16px;
}

.forecast-container {
  border: solid;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
  margin: 0 0 20px 0;
  background-color: rgb(224, 235, 229, 0.5);
}

.current-weather-info .active {
  color: black;
}

.current-weather-info .active:hover {
  cursor: default;
  text-decoration: none;
}

.forecast-temp-high {
}

.forecast-temp-low {
  opacity: 0.6;
}

#temp-unit {
  display: inline-block;
  margin-top: 8px;
}

#current-weather-info {
  vertical-align: top;
  margin: 20px;
}

#icon {
  vertical-align: top;
  height: 60px;
  width: 60px;
}

#current-description {
  text-transform: capitalize;
}

#city-search-form {
  margin: 20px 0 20px 0;
}

#footer {
  max-width: 80%;
  margin: 40px;
  font-size: small;
}
