body {
  font-family: Roboto, arial, sans-serif;
}

.container {
  max-width: 500px;
}

h1 {
  margin: 20px;
  font-size: 48px;
}

.current-temp {
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
  font-weight: bold;
}

#current-weather-info {
  vertical-align: top;
  margin: 20px;
}

#icon {
  vertical-align: top;
  height: 60px;
  width: 60px;
}

.degree-unit {
  font-size: 16px;
}

.forecast-container {
  border: solid;
  max-width: 600px;
}

.container {
  border: solid;
  border-radius: 6px;
  margin: 40px;
}

#current-description {
  text-transform: capitalize;
}

.current-weather-info .active {
  color: black;
}

.current-weather-info .active:hover {
  cursor: default;
  text-decoration: none;
}

#city-search-form {
  margin: 20px 0 20px 0;
}

#footer {
  max-width: 80%;
  margin: 40px;
  font-size: small;
}
